<div class='work-module' data-module={{@index}}>
    <a href="{{url}}" data-featherlight="iframe" data-featherlight-iframe-width="{{width}}" data-featherlight-iframe-height="{{height}}">
        <img src="{{url}}/{{thumbnailUrl}}" alt="{{name}}" class="work-thumbnail" width="{{width}}" height="{{height}}" border="none">
        <div class="work-info">
            <span class="work-name">{{name}}</span>
	        <p class="work-description">{{description}}</p>
        </div>
    </a>
</div>